/*css
@BASE、MODULEの一部機能は全てに使い回しができる
@SMACSS、BEM
*/
@charset "UTF-8";
@font-face {
	font-family: "Avenir";
	src: url(./../fonts/Avenir.woff);
}
@font-face {
	font-family: "JSO";
	src: url(../fonts/JuliusSansOne-Regular.woff);
}
@font-face {
	font-family: "AC";
	src: url("../fonts/Apple Chancery.woff");
}

/*================================================

					THEME

================================================*/
$mainColor:  #eaeaea;
$mainFontColor: #707070;
$subColor: #dbbe1d;
$footerColor: #585858;
$mainFontSize: 1.4rem;
$biggerFontSize: 1.8rem;
$bigFontSize: 3.0rem;

$fontFamilyTypos: kan48typos-std, sans-serif;
$fontFamilyAvenir: "Avenir", sans-serif;
$fontFamilyJSO: "JSO", sans-serif;
$fontFamilyAC: "AC", sans-serif;

//media query
$mediaPC: 1024px;
$mediaPhone: 768px;
$mediaSmallPhone: 375px;

.t_back_main_color {background: $mainColor;}
.t_font_main_color {color: $mainFontColor;}
.t_font_sub_color {color: $subColor;}
.t_back_sub_color {background: $subColor;}

/*================================================

					BASE

================================================*/
@mixin FLEX($j_c: flex_start, $i: center, $w: wrap){
	display: flex;
	@if $j_c != null {justify-content: $j_c;}
	@if $i != null {align-items: $i;}
	@if $w != null {flex-wrap: $w;}
}

@mixin MWMD($mw: null, $w: 100%, $margin: 0 auto, $d: block){
	@if $mw != null {max-width: $mw;}
	@if $w == nochange {width: 100%;} @else if $w != null  {width: $w;}
	@if $margin == nochange {margin: 0 auto} @else if $margin != null  {margin: $margin;}
	@if $d != null {display: $d;}
}

@mixin POS($p,$t,$r,$b,$l,$z){
	@if $t != null {position: $p;}
	@if $t != null {top: $t;}
	@if $r != null {right: $r;}
	@if $b != null {bottom: $b;}
	@if $l != null {left: $l;}
	@if $z != null {z-index: $z;}
}

*,*::before,*::after {margin: 0;padding: 0;box-sizing: border-box;}
html {font-size:62.5%;}
body {font-size:1.4rem;font-family: $fontFamilyJSO, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;color: $mainFontColor;}
li {list-style:none;}
a{text-decoration:none;color:inherit}
form,input,button{-webkit-appearance: none;border:none;background:none;box-shadow:none;border-radius:0;outline:none}
address {font-style:normal;}
img{width:100%;}

/*================================================

					LAYOUT

================================================*/
.l-section {
	margin-top: 90px;
}

.l-section.access {
	background: $footerColor;
	padding-top: 50px;
	
	.block__header__title {
		color: #fff;
		
		&::after {
			border-color: #fff;
		}
	}
}

/*================================================

					MODULE

================================================*/

// **************** 使い回しのできるパーツ ****************
.m_font_JSO {font-family: $fontFamilyJSO;}
.m_font_Ave {font-family: $fontFamilyAvenir;}
.m_font_Typ {font-family: $fontFamilyTypos;}
.m_font_AC {font-weight:100;font-family: $fontFamilyAC;}

//font-sizeの基本は次の五つをとりあえず使う。
.m_font_little {font-size: 1.0rem;}
.m_font_small {font-size: 1.2rem;}
.m_font_medium {font-size: $mainFontSize;}
.m_font_large {font-size: $biggerFontSize;}
.m_font_largest {font-size: $bigFontSize;}

//uはutility 基本として用意したものではカバーしきれない時にのみ使う。
.u_font_20 {font-size: 2.0rem;}
.u_font_41 {font-size: 4.1rem;}

.m_bold {font-weight: bold;}
.m_normal {font-weight: normal;}

.m_font_white {color: #fff;}

.m_t_center {text-align: center;}
.m_t_right {text-align: right;}

.m_t_indent_1 {text-indent: -1em;padding-left: 1em;}

.m_l_h_1 {line-height: 1;}.m_l_h_12 {line-height: 1.2;}.m_l_h_15 {line-height: 1.5;}.m_l_h_17 {line-height: 1.7;}.m_l_h_2 {line-height: 2;}

.m_mg_center {margin-left: auto;margin-right: auto;}

.m_w_100 {width:100%;}

.m_va_middle {vertical-align: middle;}

.m_d_block {display: block;}
.m_d_inline {display: inline;}
.m_d_i_b {display: inline-block;}
.m_d_flex {display: flex;flex-wrap: wrap;align-items: center;}
.m_d_flex_nowrap {display: flex;flex-wrap: nowrap;align-items: center;}
.m_d_flex_nowrap_stretch {display: flex;flex-wrap: nowrap;align-items: stretch;}
.m_d_flex_nowrap_start {display: flex;flex-wrap: nowrap;align-items: flex-start;}

.m_d_i_b_center {display: inline-block;vertical-align: middle;}
.m_f_shrink_1 {flex-shrink: 1;}
.m_f_center {justify-content: center;}
.m_f_around {justify-content: space-around;}
.m_f_between {justify-content: space-between;}
.m_f_start {justify-content: flex-start;}
.m_f_col {flex-direction: column}
.m_f_align_start {align-items:flex-start;}

.m_absolute {position: absolute;}
.m_relative {position: relative;}
.m_fixed {position: fixed;}
.m_z_1 {z-index: 1;}.m_z_2 {z-index: 2;}.m_z_3 {z-index: 3;}.m_z_4 {z-index: 4;}.m_z_5 {z-index: 5;}.m_z_10 {z-index: 5;}

.m_of_x_hidden {overflow-x: hidden;}

.m_bc_main {background-color: $mainColor;}

.m_center {left: 50%;transform: translateX(-50%);}
.m_middle {top: 50%;transform: translateY(-50%);}
.m_circle {border-radius: 50%;}

.m_float_r {float: right;}.m_float_l{float: left;}
.clearfix::after {display:block;clear:both;content:"";}


/* *************** 一塊のモジュール **************** */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site__title {
	font: {
		weight: 300;
		size: 7.4rem;/*対応していないブラウザ用*/
		size: min(7.4rem,7vw);
		family: $fontFamilyJSO;
	}
	white-space: nowrap;
	margin-right: 20px;
}

.header__up {
	border-bottom: solid 1px #707070;
	padding: 15px 0 10px;
}

.address__tel {
	font: {
		size: $biggerFontSize;/*対応していないブラウザ用*/
		size: min(3.0rem, 3vw);
	}
	margin-bottom: 5px;
}

.global-menu {
	transition: 0.5s;
	&__ul {
		margin-bottom: 20px;
	}

	&__item {
		margin: 12px 4% 7px;
	}

	&__link {
		padding: 3px 5px;
		transition: 0.5s;
		cursor: pointer;
		
		&--menu {
			
			&::before, &::after {
				content: "";
				width: 0.6em;
				display: inline-block;
				height: 0.6em;
				vertical-align: middle;
				border: solid 1px transparent;
				transform: translateY(-50%) rotate(45deg);
				transition: 0.5s;
				position: absolute;
				top: 35%;
			}
			
			&::before {
				border-bottom-color: $mainFontColor;
				right: -24px;
			}
			
			&::after {
				border-right-color: $mainFontColor;
				right: -24px;
			}
			
			&:hover::before {
				right: -30px;
			}
			
			&:hover::after {
				right: -16px;
			}
		}
	}
	
	@media screen and (min-width: 769px) {
		&__link::after {
			content: "";
			display: block;
			width: 0%;
			@include POS(absolute, 50%, 0, null, null, -1);
			height: 1.5em;
			background: $mainFontColor;
			transition: 0.2s ease-out;
		    transform: translateY(-50%);
		}

		&__link:hover{
			color: #fff;
			
			&::after {
				@include POS(null, null, none, null, 0, null);
				width: 100%;
			}
		}
	}
}

.submenu {
	
	&--menu {
		transition: 0.5s;
		
		
		&__item {
			
		}
		
		&__link {
			
		}
	}
}

.header__image {
	@include MWMD(834px, nochange, nochange);
}

.header__caption {
	margin-top: 50px;
	
	&__group {
		padding: 45px;
	}
	
	&__icon {
		@include MWMD(null, 64px, nochange, null);
	}
	
	&__text {
		margin: 30px 45px;
	}
}

.block__header {
	&__icon {
		@include MWMD(null, 85px, nochange, null);
	}
	
	&__title {
		
		&::after {
			content: "";
			@include MWMD(null, 120%, 8px auto 0 -14%, inline-block);
			height: 9px;
			border: solid 1px #707070;
		}
	}
}

.b--news {
	@include MWMD(900px, nochange, 55px auto, null);
	
	&__article {
		@include MWMD(400px, nochange, 0 15px 20px 0);
		padding: 15px;
		height: 125px;
		border-radius: 20px;
		box-shadow: 3px 2px 6px rgba(0,0,0,16%);
	}
	
	&__time {
		border-bottom: solid 1px $subColor;
	}
	
	&__text {
		margin-top: 20px;
	}
}

.b--concept {
	margin: 55px auto;
	
	&__features {
		
		&::before, &::after {
			content: "";
			@include MWMD(calc(40% / 2),nochange,null);
			background: #E1C49E;
		}
		
		&__item {
			@include MWMD(none,17.5%,null,null);
			min-width: 200px;
		}
		
		&__image {
			vertical-align: bottom;
		}
		
		&__title {
			@include POS(absolute,0,null,null,0,1);
			font: {
				weight: 400;
				size: 5vw;
				family: kozuka-gothic-pr6n, sans-serif;
			}
			line-height: 1;
			transform: rotate(90deg) translateY(-100%);
			transform-origin: top left;
		}
	}
	
	&__text {
		margin: 20px 0 0 21vw;
	}
}

.b--menu {
	
	&__caption {
		margin-top: 40px;
	}
	
	.c--topics {
		overflow: hidden;

		&__title {
			transform: rotate(-6deg);
			top: -190px;
			background: #fff;
			padding: 10px 1000px 10px 50px;
			width: 100%;
			box-sizing: content-box;
			left: -55px;

			&__inner {
				border-bottom: 1px solid;
			}

		}

		&__item {

			&__textgroup {
				left: 5%;
				max-width: 310px;

				&__group {

					&::after {
						content: "";
						border-bottom: 2px dotted $mainFontColor;
						@include MWMD(null, nochange, 10px 0 15px);
					}
				}
			}

			&__description {
				@extend .clearfix::after;
			}

			&__inner {
				@include MWMD(1000px, 96vw, null, null);
				max-height: 1000px;
				height: 96vw;
				background: $mainColor;
				margin-top: 50px;
			}

			&__image {
				@include MWMD(400px, 45vw, null);
				overflow: hidden;
				right: 10%;
				transition: 0.5s;

				&:hover {
					@include MWMD(800px, nochange, null, null);

					.c--topics__item__image__self {
						transform: scale(1.1);
					}	
				}

				&__self {
					@include MWMD(800px, 200%, 0 0 0 -100%, null);
					transition: 0.5s;
				}
			}
		}
	}//c--topics
	
	.c--recom {
		
		&__title {
			background: {
				image: url("../images/menu/frame-menu_title_lost.svg");
				repeat: no-repeat;
				position: center;
			}
			@include MWMD(null, 524px, 180px auto 60px, null);
			height: 68px;
		}
		
		&__menu {
			@include MWMD(null,300px,0 20px 50px,null);
			
			&__image {
				margin-bottom: 15px;
			}
			
			&__title {
				width: 210px;
				margin-right: 10px;
			}
			
			&__price {
				padding: 2px 6px;
				vertical-align: middle;
			}
			
			
			&__description {
				margin-top: 10px;
			}
		}
	}//c--recom
	
	.c--others {
		margin-top: 180px;
		
		&__title {
			&::before, &::after {
				content: "";
				display: block;
				border-bottom: solid 1px $subColor;
			}
			
			&__self {
				
				&::before, &::after {
					content: "";
					width: 7px;
					height: 7px;
					vertical-align: middle;
					display: inline-block;
					background: $subColor;
					border-radius: 50%;
				}

				&__inner {
					display: inline-block;
					margin: 0 30px;
					vertical-align: middle;
				}	
			}
		}
		
		&__inner {
			@include MWMD(1000px, nochange,nochange,null);
		}
		
		&__menu {
			@include MWMD(375px,nochange,nochange,null);
			
			&:nth-of-type(even) {
				padding-top: 130px;
			}
			
			&__genre {
				margin: 15px 0;
				
				&::after {
					content: "";
					border-bottom: solid 1px $subColor;
					width: 100%;
				}
				
				&__inner {
					white-space: nowrap;
					margin-right: 12px;
				}
			}
			
			&__image__self {
				@include MWMD(350px);
			}
			
			&__item {
				margin-bottom: 60px;
			}
			
			&__title {
				margin-right: 2em;
			}
		}
		
		.c--anim__others {
			@include POS(null,0,null,null,0,null);
			
			&__item {
				background: #fff;
				transition: 1s ease-out;
			}
		}
	}//c--others
}//b--menu



.b--access {
	
	&__address {
		margin-top: 50px;
		padding-bottom: 100px;
		
		&__address {
			margin-top: 30px;
		}
	}
}//b--access

.b--copyright {
	padding: 15px;
	
}//b--copyright

/* *************** メディアクエリ **************** */
@media screen and (max-width: $mediaPC) {
	.b--menu {
		.c--topics {
			&__item {
				&__image{
					right: 5%;

					&:hover {
						max-width: 700px;

					}
				}
			}
		}//c--topics
	}//b--menu
}

@media screen and (max-width: $mediaPhone) {
	.b--concept {
		&__features {
			display: block;
			
			&::before, &::after {
				max-width: none;
				height: 135px;
			}
			
			&__item {
				width: 100%;
				min-width: none;
			}
			
			&__title {
				text-shadow:  1px 1px 10px rgba(0,0,0,0.5);
				@include POS(absolute,auto,null,0,0,null);
				font-size: 6rem;
				transform: none;
				transform-origin: center;
			}
		}
		
		&__text {
			margin-left: 0;
			padding: 0 15px;
			line-height: 2;
		}
	}//b--concept
	
	
	.b--menu {

		.c--topics {
			
			&__title {
				position: static;
				padding: 0;
				transform: translateY(-50%) rotate(-6deg);
				text-align: center;
				background: none;
				max-width: 310px;
			    margin: 0 auto;
				
			}

			&__item {
				
				&__textgroup {
					position: static;
					transform: none;
					max-width: none;
					
					&__group {
						margin-top: 40px;
					}
				}

				&__inner {
					width: 100%;
					height: auto;
					max-height: none;
					border-radius: 0;
					margin-top: 70px;
					padding: 0 20px 20px;
				}
				
				&__image {
					position: static;
					@include MWMD(null,nochange, nochange, null);
					transform: none;
					margin-top: 10px;
					
					&__self {
						width: 100%;
						margin: 0;
					}
				}
			}
		}
	}//b--menu
}

/*================================================

					STATE

================================================*/
.submenu {
	
	&--menu {
		
		&.is-active {
			animation: shows_submenu 0.3s ease-in;
			animation-fill-mode: forwards;
		}
		
		&__item {
			margin: 5px 0;
			
			&:last-of-type {
				
				.submenu--menu__link {
					border-bottom: none;
				}
			}
		}
		
		&__link {
			background: rgba(255,255,255,0.5);
			border-left: 8px solid $mainFontColor;
		    border-bottom: 1px solid $mainFontColor;
			transition: 0.5s;
			padding-right: 5px;
			
			&:hover {
				background: rgba(255,255,255,1);
				box-shadow: 0px 0px 10px 0px rgba(20,20,20,0.3);
				margin-bottom: 10px;
				transform: scale(1.1);
			}
			
			&.is-active {
				animation: shows_submenu_item 0.5s;
				animation-fill-mode: forwards;
			}
		}
	}
}

@keyframes shows_submenu {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

@keyframes shows_submenu_item {
	from {
		padding: 0 5px;
		line-height: 0;
	}
	
	to {
		padding: 15px 5px;
		line-height: 1;
	}
}

.is-menu_scroll {
	position: fixed;
	top: 0;
	width: 100%;
	background: #fff;
	box-shadow: 2px 3px 8px 3px rgba(30,30,30,0.3);
	animation: menu 0.7s;
	animation-fill-mode: forwards;
	z-index:10;
}

@keyframes menu {
	0%{
		opacity: 0;
		height: 0px;
	}
	100% {
		opacity: 1;
		height: 50px;
	}
}




