@charset "UTF-8";
/*css
@BASE、MODULEの一部機能は全てに使い回しができる
@SMACSS、BEM
*/
@font-face {
  font-family: "Avenir";
  src: url(./../fonts/Avenir.woff); }
@font-face {
  font-family: "JSO";
  src: url(../fonts/JuliusSansOne-Regular.woff); }
@font-face {
  font-family: "AC";
  src: url("../fonts/Apple Chancery.woff"); }
/*================================================

					THEME

================================================*/
.t_back_main_color {
  background: #eaeaea; }

.t_font_main_color {
  color: #707070; }

.t_font_sub_color {
  color: #dbbe1d; }

.t_back_sub_color {
  background: #dbbe1d; }

/*================================================

					BASE

================================================*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: "JSO", sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #707070; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

form, input, button {
  -webkit-appearance: none;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  outline: none; }

address {
  font-style: normal; }

img {
  width: 100%; }

/*================================================

					LAYOUT

================================================*/
.l-section {
  margin-top: 90px; }

.l-section.access {
  background: #585858;
  padding-top: 50px; }
  .l-section.access .block__header__title {
    color: #fff; }
    .l-section.access .block__header__title::after {
      border-color: #fff; }

/*================================================

					MODULE

================================================*/
.m_font_JSO {
  font-family: "JSO", sans-serif; }

.m_font_Ave {
  font-family: "Avenir", sans-serif; }

.m_font_Typ {
  font-family: kan48typos-std, sans-serif; }

.m_font_AC {
  font-weight: 100;
  font-family: "AC", sans-serif; }

.m_font_little {
  font-size: 1.0rem; }

.m_font_small {
  font-size: 1.2rem; }

.m_font_medium {
  font-size: 1.4rem; }

.m_font_large {
  font-size: 1.8rem; }

.m_font_largest {
  font-size: 3rem; }

.u_font_20 {
  font-size: 2.0rem; }

.u_font_41 {
  font-size: 4.1rem; }

.m_bold {
  font-weight: bold; }

.m_normal {
  font-weight: normal; }

.m_font_white {
  color: #fff; }

.m_t_center {
  text-align: center; }

.m_t_right {
  text-align: right; }

.m_t_indent_1 {
  text-indent: -1em;
  padding-left: 1em; }

.m_l_h_1 {
  line-height: 1; }

.m_l_h_12 {
  line-height: 1.2; }

.m_l_h_15 {
  line-height: 1.5; }

.m_l_h_17 {
  line-height: 1.7; }

.m_l_h_2 {
  line-height: 2; }

.m_mg_center {
  margin-left: auto;
  margin-right: auto; }

.m_w_100 {
  width: 100%; }

.m_va_middle {
  vertical-align: middle; }

.m_d_block {
  display: block; }

.m_d_inline {
  display: inline; }

.m_d_i_b {
  display: inline-block; }

.m_d_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.m_d_flex_nowrap {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; }

.m_d_flex_nowrap_stretch {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; }

.m_d_flex_nowrap_start {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start; }

.m_d_i_b_center {
  display: inline-block;
  vertical-align: middle; }

.m_f_shrink_1 {
  flex-shrink: 1; }

.m_f_center {
  justify-content: center; }

.m_f_around {
  justify-content: space-around; }

.m_f_between {
  justify-content: space-between; }

.m_f_start {
  justify-content: flex-start; }

.m_f_col {
  flex-direction: column; }

.m_f_align_start {
  align-items: flex-start; }

.m_absolute {
  position: absolute; }

.m_relative {
  position: relative; }

.m_fixed {
  position: fixed; }

.m_z_1 {
  z-index: 1; }

.m_z_2 {
  z-index: 2; }

.m_z_3 {
  z-index: 3; }

.m_z_4 {
  z-index: 4; }

.m_z_5 {
  z-index: 5; }

.m_z_10 {
  z-index: 5; }

.m_of_x_hidden {
  overflow-x: hidden; }

.m_bc_main {
  background-color: #eaeaea; }

.m_center {
  left: 50%;
  transform: translateX(-50%); }

.m_middle {
  top: 50%;
  transform: translateY(-50%); }

.m_circle {
  border-radius: 50%; }

.m_float_r {
  float: right; }

.m_float_l {
  float: left; }

.clearfix::after, .b--menu .c--topics__item__description {
  display: block;
  clear: both;
  content: ""; }

/* *************** 一塊のモジュール **************** */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
			header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.site__title {
  font-weight: 300;
  font-size: 7.4rem;
  /*対応していないブラウザ用*/
  font-size: min(7.4rem, 7vw);
  font-family: "JSO", sans-serif;
  white-space: nowrap;
  margin-right: 20px; }

.header__up {
  border-bottom: solid 1px #707070;
  padding: 15px 0 10px; }

.address__tel {
  font-size: 1.8rem;
  /*対応していないブラウザ用*/
  font-size: min(3rem, 3vw);
  margin-bottom: 5px; }

.global-menu {
  transition: 0.5s; }
  .global-menu__ul {
    margin-bottom: 20px; }
  .global-menu__item {
    margin: 12px 4% 7px; }
  .global-menu__link {
    padding: 3px 5px;
    transition: 0.5s; }
  @media screen and (min-width: 769px) {
    .global-menu__link::after {
      content: "";
      display: block;
      width: 0%;
      position: absolute;
      top: 50%;
      right: 0;
      z-index: -1;
      height: 1.5em;
      background: #707070;
      transition: 0.2s ease-out;
      transform: translateY(-50%); }
    .global-menu__link:hover {
      color: #fff; }
      .global-menu__link:hover::after {
        right: none;
        left: 0;
        width: 100%; } }

.header__image {
  max-width: 834px;
  width: 100%;
  margin: 0 auto;
  display: block; }

.header__caption {
  margin-top: 50px; }
  .header__caption__group {
    padding: 45px; }
  .header__caption__icon {
    width: 64px;
    margin: 0 auto; }
  .header__caption__text {
    margin: 30px 45px; }

.block__header__icon {
  width: 85px;
  margin: 0 auto; }
.block__header__title::after {
  content: "";
  width: 120%;
  margin: 8px auto 0 -14%;
  display: inline-block;
  height: 9px;
  border: solid 1px #707070; }

.b--news {
  max-width: 900px;
  width: 100%;
  margin: 55px auto; }
  .b--news__article {
    max-width: 400px;
    width: 100%;
    margin: 0 15px 20px 0;
    display: block;
    padding: 15px;
    height: 125px;
    border-radius: 20px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.16); }
  .b--news__time {
    border-bottom: solid 1px #dbbe1d; }
  .b--news__text {
    margin-top: 20px; }

.b--concept {
  margin: 55px auto; }
  .b--concept__features::before, .b--concept__features::after {
    content: "";
    max-width: calc(40% / 2);
    width: 100%;
    display: block;
    background: #E1C49E; }
  .b--concept__features__item {
    max-width: none;
    width: 17.5%;
    min-width: 200px; }
  .b--concept__features__image {
    vertical-align: bottom; }
  .b--concept__features__title {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-weight: 400;
    font-size: 5vw;
    font-family: kozuka-gothic-pr6n, sans-serif;
    line-height: 1;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left; }
  .b--concept__text {
    margin: 20px 0 0 21vw; }

.b--menu__caption {
  margin-top: 40px; }
.b--menu .c--topics {
  overflow: hidden; }
  .b--menu .c--topics__title {
    transform: rotate(-6deg);
    top: -190px;
    background: #fff;
    padding: 10px 1000px 10px 50px;
    width: 100%;
    box-sizing: content-box;
    left: -55px; }
    .b--menu .c--topics__title__inner {
      border-bottom: 1px solid; }
  .b--menu .c--topics__item__textgroup {
    left: 5%;
    max-width: 310px; }
    .b--menu .c--topics__item__textgroup__group::after {
      content: "";
      border-bottom: 2px dotted #707070;
      width: 100%;
      margin: 10px 0 15px;
      display: block; }
  .b--menu .c--topics__item__inner {
    max-width: 1000px;
    width: 96vw;
    max-height: 1000px;
    height: 96vw;
    background: #eaeaea;
    margin-top: 50px; }
  .b--menu .c--topics__item__image {
    max-width: 400px;
    width: 45vw;
    display: block;
    overflow: hidden;
    right: 10%;
    transition: 0.5s; }
    .b--menu .c--topics__item__image:hover {
      max-width: 800px;
      width: 100%; }
      .b--menu .c--topics__item__image:hover .c--topics__item__image__self {
        transform: scale(1.1); }
    .b--menu .c--topics__item__image__self {
      max-width: 800px;
      width: 200%;
      margin: 0 0 0 -100%;
      transition: 0.5s; }
.b--menu .c--recom__title {
  background-image: url("../images/menu/frame-menu_title_lost.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 524px;
  margin: 180px auto 60px;
  height: 68px; }
.b--menu .c--recom__menu {
  width: 300px;
  margin: 0 20px 50px; }
  .b--menu .c--recom__menu__image {
    margin-bottom: 15px; }
  .b--menu .c--recom__menu__title {
    width: 210px;
    margin-right: 10px; }
  .b--menu .c--recom__menu__price {
    padding: 2px 6px;
    vertical-align: middle; }
  .b--menu .c--recom__menu__description {
    margin-top: 10px; }
.b--menu .c--others {
  margin-top: 180px; }
  .b--menu .c--others__title::before, .b--menu .c--others__title::after {
    content: "";
    display: block;
    border-bottom: solid 1px #dbbe1d; }
  .b--menu .c--others__title__self::before, .b--menu .c--others__title__self::after {
    content: "";
    width: 7px;
    height: 7px;
    vertical-align: middle;
    display: inline-block;
    background: #dbbe1d;
    border-radius: 50%; }
  .b--menu .c--others__title__self__inner {
    display: inline-block;
    margin: 0 30px;
    vertical-align: middle; }
  .b--menu .c--others__inner {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto; }
  .b--menu .c--others__menu {
    max-width: 375px;
    width: 100%;
    margin: 0 auto; }
    .b--menu .c--others__menu:nth-of-type(even) {
      padding-top: 130px; }
    .b--menu .c--others__menu__genre {
      margin: 15px 0; }
      .b--menu .c--others__menu__genre::after {
        content: "";
        border-bottom: solid 1px #dbbe1d;
        width: 100%; }
      .b--menu .c--others__menu__genre__inner {
        white-space: nowrap;
        margin-right: 12px; }
    .b--menu .c--others__menu__image__self {
      max-width: 350px;
      width: 100%;
      margin: 0 auto;
      display: block; }
    .b--menu .c--others__menu__item {
      margin-bottom: 60px; }
    .b--menu .c--others__menu__title {
      margin-right: 2em; }

.b--access__address {
  margin-top: 50px;
  padding-bottom: 100px; }
  .b--access__address__address {
    margin-top: 30px; }

.b--copyright {
  padding: 15px; }

@media screen and (max-width: 1024px) {
  .b--menu .c--topics__item__image {
    right: 5%; }
    .b--menu .c--topics__item__image:hover {
      max-width: 700px; } }
/*================================================

					STATE

================================================*/
.is-menu_scroll {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 2px 3px 8px 3px rgba(30, 30, 30, 0.3);
  animation: menu 0.7s;
  animation-fill-mode: forwards;
  z-index: 10; }

@keyframes menu {
  0% {
    opacity: 0;
    height: 0px; }
  100% {
    opacity: 1;
    height: 50px; } }
